/*****Tag Selector*****/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

/******************************Class Selector******************************/
/* CONTAINERS */

.container-fluid {
  padding: 7% 15%;
}

/* SECTIONS */

.section-pink {
  background-color: #ff4c68;
  color: #fff;
  padding-top: 4%;
}

.section.white {
  background-color: #fff;
}

/* HEADINGS */

.big-headings {
  font-size: 3rem;
  line-height: 1.5;
}

.section-headings {
  font-size: 2.5rem;
  line-height: 1.5;
  padding: 2%;
}

/* SUBTITLES */

.section-subtitle {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 4%;
  color: #8F8F8F;
}

.subtitle-text {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 4%;
  color: #8F8F8F;
}

/* NAVIGATION BAR SECTION */
#dropdown-btn1 {
  background-color: transparent;
  border-color: transparent;
}

.btn-secondary {
  background-color: transparent;
  border-color: transparent;
  font-family: "Montserrat";
}

.btn-download {
  margin: 5% 3% 5% 0;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  line-height: 1.5;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1rem;
  line-height: 1.5;
}

/* TITLE SECTION */
#title {
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: rotate(0);
    position: static;
    width: 55%;
  }
}

/* FEATURES SECTION */
#features {
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 2%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1.1rem;
}

.icon:hover {
  color: #ff4c68;
}

.text-bullet {
  font-size: 1rem;
  color: #8F8F8F;
}

/* TESTIMONIAL CAROUSEL */
#carouselExampleControls {
  padding: 3% 15%;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 10%;
}

.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 7%;
}

/* PRESS SECTION */
#press {
  padding-bottom: 3%;
}

.press-image {
  width: 13%;
  margin: 20px 20px 50px;
}

.section-pink#press {
  padding-top: 0%;
}

/* PRICING */
#pricing {
  padding-bottom: 7%;
}

#sign-up {
  background-color: #ef8172;
}

.card {
  font-family: Montserrat-Bold;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-footer {
  color: #fff;
}

.card-header {
  background-color: #ff4c68;
}

.card-link {
  color: #fff;
}

.card-text {
  font-size: .9rem;
}

.card-title {
  color: #fff;
}

/* CALL TO ACTION */
#cta {
  font-family: Montserrat-bold;
}

/* FOOTER */
#footer {
  padding: 7% 10%;
}

#footer-icon {
  padding-bottom: 2rem;
}
